:root {
  --zoo_split-grabber-long: 80px;
  --zoo_split-grabber-wide: 10px;
}

.zoo_split {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  gap: 0;

  .zoo_split__ns {
    flex-direction: column;
    flex-wrap: nowrap;

    > .zoo_nest__inner {
      height: 0;
    }
  }

  .zoo_split__ew {
    flex-direction: row;
    flex-wrap: nowrap;

    > .zoo_nest__inner {
      width: 0;
    }
  }

}

.zoo_nest {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  overflow-y: auto;

  &.closed {
    display: none;
  }

  &.zoo_nest__outer {
    flex-basis: 50px;

    &.animated {
      transition: flex-basis 200ms ease-in-out;
    }
  }

  &.zoo_nest__inner {
    flex-grow: 1;
  }
}

.zoo_dragger {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: visible;
  flex-basis: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.7;
  z-index: 2;

  &.locked {
    visibility: hidden;
  }

  &.closed {
    display: none;
  }

  &.collapsed {
    transition: flex-basis 200ms ease-in-out;
    flex-basis: 0;
  }

  &:hover, &:active {
    opacity: 1;
  }
}

.zoo_grabber {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 5;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.zoo_split__ns > .zoo_dragger {
  height: 0;
  min-width: 0;

  &:hover {
    cursor: ns-resize;
  }
}

.zoo_split__ns > .zoo_dragger > .zoo_grabber {
  height: var(--zoo_split-grabber-wide);
  width: var(--zoo_split-grabber-long);

  &:hover {
    cursor: ns-resize;
  }
}

.zoo_split__ew > .zoo_dragger {
  min-height: 0;
  width: 0;

  &:hover {
    cursor: ew-resize;
  }
}


.zoo_split__ew > .zoo_dragger > .zoo_grabber {
  height: var(--zoo_split-grabber-long);
  width: var(--zoo_split-grabber-wide);

  &:hover {
    cursor: ew-resize;
  }
}
